body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("your-image-url");
  background-repeat: no-repeat;
  background-position: top;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fredoka One', cursive;
  font-size: 15px;
  background-color: #e12901;
  color: #fff;
  padding: 1rem;
  height: 110px;
  position: relative;
  z-index: 2;
}

.h1text {
	font-size: 40px;
	margin-top: 12px;
}


 header img {
    width: 80px;
	
 }
  
 .fg-h2 {
	 padding: 30px;
	 padding-left: 40px;
	 font-family: 'Fredoka One', cursive;
	 font-size: 50px;
  }
  
 form {
	  padding: 10px;
	  padding-left: 40px;
  }
  
  
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
  
nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 1rem;
  padding: 5px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.homeimg, .contactimg {
	width: 40px;
	height: 40px;
}

.searchimg {
	width: 37px;
	height: 37px;
}

.cartimg {
	width: 40px;
	height: 40px;
}

.bg-container {
    position: relative;
    width: 100%;
    height: 400px;
}
		
.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("ad2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}

.logopng {
	size: 10%;
}


#hero {
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
}

#hero h2 {
	font-family: 'Fredoka One', cursive;
	color: #e12901;
	font-size: 4.5rem;
	margin: 0;
}

#hero p {
	font-family: 'Fredoka One', cursive;
	color: #e12901;
	font-size: 1.9rem;
	margin: 0;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
img {vertical-align: middle;}

* {box-sizing:border-box}
	
.butn {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  font-family: 'Fredoka One', cursive;
  color: #fff;
  background-color: #e12901;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.butn:hover {background-color: #b90e0a}

.butn:active {
  background-color: #b90e0a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button1 {
  padding: 16px 32px;
  font-size: 16px;
  text-align: center;
  left: 8%;
  bottom: 100%;
  position: absolute;
  cursor: pointer;
  outline: none;
  font-family: 'Fredoka One', cursive;
  color: #fff;
  background-color: #e12901;
  border: none;
  border-radius: 12px;
  box-shadow: 0 9px #999;
}

.button1:hover {background-color: #b90e0a}

.button1:active {
  background-color: #b90e0a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.carousel-inner {
  position: relative;
  width: 33%;
  height: 470px;
  padding: 50px;
  display: inline-block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.carousel-indicators {
	width: 100%;
	margin: auto;
	position: center;
	}

#featured-games {
	background-color: #fd8f52;
}

#featured-games h2 {
	color: white;
	font-size: 50px;
}

#popular-games h2 {
	font-size: 50px;
}

.imgcontainer1 {
  position: relative;
  width: 33%;
  height: 470px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.imgcontainer2 {
  position: relative;
  width: 33%;
  height: 470px;
  padding: 50px;
  display: inline-block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;	
}

.image {
  opacity: 1;
  max-width: 85%;
  max-height: 87%;
  transition: .5s ease;
  backface-visibility: hidden;
}



.imgcontainer1:hover .image {
  opacity: 0.3;
}

.imgcontainer1:hover .middle {
  opacity: 1;
}

.imgcontainer2:hover .image {
  opacity: 0.3;
}

.imgcontainer2:hover .middle {
  opacity: 1;
}

.text {
  background-color: #e12901;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  cursor: pointer;
  font-family: 'Fredoka One', cursive;
  border: none;
  border-radius: 12px;
  display: inline-block;
  margin-top: 10px;
}

footer {
	font-family: 'Fredoka One', cursive;
    color: #fff;
    background-color: #e12901; 
	padding: 20px;
}

